html, body
{
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.header
{
  height: 60px;
  top: 0;
}

#conversation
{
  height: 86.5%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.footer
{
    height: 10px;
    margin-bottom: 0;
    bottom: 0;
}

.bot-chat,
.user-chat {
  height: max-content;
}

.bot-response,
.user-response {
  font-size: 14px;
  height: max-content;
  width: max-content;
  max-width: 60%;
  margin: 10px 20px;
  padding: 10px;
}

.bot-response {
  float: left;
}

.user-response {
  float: right;
}
